body {
  text-align: center;
  justify-content: center;
  display: flex;
}

#bot-list{
  list-style-type: none;
  padding: 0;
  margin: 2vw;
}

.header{
  font-weight: bold;
}

ul > :nth-child(even){
  background-color: rgb(243, 243, 243);
}

.bot{
  display: flex;
  flex-direction: row;
  margin: 0.5vw;
  justify-content: space-evenly;
  background-color: rgb(219, 219, 219);
  border-radius: 1vw;
  display: flex;
  align-items: center;
}

.bot > *{
  font-size: 2vw;
  width: 19vw;
  margin: 0.25vw;
}

button {
  border-radius: 1vw;
}

.bot-status{
  border-radius: 1vw;
}

.running{
  background-color: rgb(255, 185, 55);
}

.completed{
  background-color: rgb(33, 160, 33);
}

.stopped{
  background-color: rgb(255, 93, 93);
}